<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form method="post">
        {% csrf_token %}
        
        {{ form.username.label }}
        {{ form.username }}
        <br>

        {{ form.email.label }}
        {{ form.email }}
        <br>

        {{ form.password1.label }}
        {{ form.password1 }}
        <br>

        {{ form.password2.label }}
        {{ form.password2 }}
        <br>
            
        <input type="submit" value="Submit">
    </form>
    {{ form.errors }}
    <p>Already have an account? <a href="{% url 'main_app:login' %}">Login</a></p>
</body>
</html>